modules = ["nodejs-24"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
GITHUB_TOKEN = "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"
RENDER_DATABASE_URL = "postgresql://e_votingdatabase_user:cFJdlS3LXvZENaIwdj9VuO7AoVpU6w1z@dpg-d7dp2bbeo5us73fqk950-a/e_votingdatabase"
